<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" manifest="/etest.appcache" ng-app="etestApp"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" manifest="/etest.appcache" ng-app="etestApp"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" manifest="/etest.appcache" ng-app="etestApp"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" manifest="/etest.appcache" ng-app="etestApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--For bots to use escaped fragment url-->
  <meta name="fragment" content="!">
  <!-- Setting the right viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="robots" content="index, follow"/>
  <base href="/">
  <title ng-bind="meta.title">etest | Free TCS Verbal and Aptitude Tests Online</title>
  <meta name="description" content="{{meta.description || 'Online TCS Verbal/Analytical Ability Test - Take online TCS Verbal and analytical ability test and improve your performance.'}}">
  <meta name="Keywords"
        content="{{meta.keywords || 'TCS Verbal Test Simulator, TCS Email Writing Simulator, TCS Aptitude Test Online, TCS Verbal Test Online, TCS Verbal Ability Test, TCS Analytical Test,
        TCS Analytical Ability Test, TCS Email Writing, TCS Sample Email, TCS Mock Test,
         TCS Email Writing Test, Tcs Email Writing PDF, Tcs Email Writing Practice,
         TCS Verbal Test Simulator, TCS Email Writing Online Test, TCS Analytical Ability Test,
         TCS Online Analytical Test, TCS Aptitude Test Papers, TCS Aptitude Test 2016, TCS Aptitude Test PDF,
         TCS Placement Papers, TCS Placement Papers With Solutions, TCS Placement Procedure, 	TCS Placement Process,
         TCS Placement Papers PDF, TCS Placement Aptitude Test'}}">
  <meta name="author" content="Vikash Verma">
  <!--Open Graph Meta Tags-->
  <meta property="og:locale" content="en_US"/>
  <meta property="og:site_name" content="etest:Programming Geek"/>
  <meta property="og:type" content="article"/>

  <meta property="og:title" content="{{meta.title || 'etest | Free Verbal and Aptitude Tests Online'}}"/>
  <meta property="og:url" content="{{meta.url || 'http://etest.programminggeek.in/'}}"/>
  <meta property="og:image" content="{{meta.image || 'http://etest.programminggeek.in/assets/images/favicon.png'}}"/>
  <meta property="og:description" content="{{ meta.description || 'Online TCS Verbal/Analytical Ability Test - Take online TCS Verbal and analytical ability test and improve your performance.'}}"/>
  <!--<meta property="fb:app_id" content="637142706346206"/>-->
  <!--end Open Graph Meta Tags-->

  <!-- CDN: Angular Material style sheet -->
  <link rel="stylesheet" href="https://material.angularjs.org/1.0.9/angular-material.min.css">
  <!-- CDN: Font Awesome CSS   -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/ng-notify/src/styles/ng-notify.css" />
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="components/loader/pre-loader.css">
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <link rel="stylesheet" href="app/account/login/login.css">
      <link rel="stylesheet" href="app/account/profile/profile.css">
      <link rel="stylesheet" href="app/account/signup/signup.css">
      <link rel="stylesheet" href="app/admin/admin.css">
      <link rel="stylesheet" href="app/app.css">
      <link rel="stylesheet" href="app/exam/aptitude/aptitude.css">
      <link rel="stylesheet" href="app/exam/aptitude/tcs/tcs.aptitude.css">
      <link rel="stylesheet" href="app/exam/aptitude/tcs/tcs.aptitude.exam.css">
      <link rel="stylesheet" href="app/exam/aptitude/tcs/tcs.aptitude.exam.result.css">
      <link rel="stylesheet" href="app/exam/verbal/tcs/tcs.verbal.css">
      <link rel="stylesheet" href="app/exam/verbal/tcs/tcs.verbal.exam.css">
      <link rel="stylesheet" href="app/exam/verbal/tcs/tcs.verbal.exam.result.css">
      <link rel="stylesheet" href="app/exam/verbal/verbal.css">
      <link rel="stylesheet" href="app/main/main.css">
      <link rel="stylesheet" href="app/placement/aptitude/tcs/aptitude.css">
      <link rel="stylesheet" href="app/placement/placement.css">
      <link rel="stylesheet" href="app/placement/verbal/tcs/verbal.css">
      <link rel="stylesheet" href="components/loader/dots-loader.css">
      <link rel="stylesheet" href="components/loader/graph-preloader.css">
      <link rel="stylesheet" href="components/loader/loader.css">
      <link rel="stylesheet" href="components/loader/pre-loader.css">
      <link rel="stylesheet" href="components/modal/modal.css">
      <link rel="stylesheet" href="components/spellcheck/atd.css">
      <link rel="stylesheet" href="components/util/avatar.panel.css">
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="etestApp" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<!-- Add your site or application content here -->
<div ui-view=""></div>
    <div class="atomLoader" ng-if="!hidePreLoader">
      <div class="contentAtoms">
        <div class="atom"></div>
        <div class="atom"></div>
        <div class="atom"></div>
      </div>
    </div>

    <div class="container_button" ng-if="!hidePreLoader"></div>
    <!-- Comment box essentials-->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=119590025043593";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script src="https://apis.google.com/js/plusone.js">
    </script>
    <!-- Google Analytics Code -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58230912-1', 'auto');
  ga('send', 'pageview');

</script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <!--<script src="bower_components/json3/lib/json3.min.js"></script>-->
    <![endif]-->
    <!-- Include JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <script src="https://code.angularjs.org/1.5.7/angular-cookies.min.js"></script>
    <script src="https://code.angularjs.org/1.5.7/angular-resource.min.js"></script>
    <script src="https://code.angularjs.org/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://material.angularjs.org/1.0.9/angular-material.min.js"></script>

    <!-- build:js({client,node_modules}) app/vendor.js -->
    <!-- bower:js -->

    <script src="bower_components/ng-notify/src/scripts/ng-notify.js"></script>
    <!-- endbower -->
    <!-- <script src="socket.io-client/socket.io.js"></script> -->
    <!-- endbuild -->


        <!-- build:js({.tmp,client}) app/app.js -->
        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/account/account.js"></script>
          <script src="app/account/login/login.controller.js"></script>
          <script src="app/account/profile/profile.controller.js"></script>
          <script src="app/account/settings/settings.controller.js"></script>
          <script src="app/account/signup/signup.controller.js"></script>
          <script src="app/admin/admin.controller.js"></script>
          <script src="app/admin/admin.js"></script>
          <script src="app/exam/aptitude/aptitude.controller.js"></script>
          <script src="app/exam/aptitude/tcs/tcs.aptitude.controller.js"></script>
          <script src="app/exam/aptitude/tcs/tcs.aptitude.exam.controller.js"></script>
          <script src="app/exam/aptitude/tcs/tcs.aptitude.exam.result.controller.js"></script>
          <script src="app/exam/exam.js"></script>
          <script src="app/exam/verbal/tcs/tcs.verbal.controller.js"></script>
          <script src="app/exam/verbal/tcs/tcs.verbal.exam.controller.js"></script>
          <script src="app/exam/verbal/tcs/tcs.verbal.exam.result.controller.js"></script>
          <script src="app/exam/verbal/verbal.controller.js"></script>
          <script src="app/leaderboard/leaderboard.controller.js"></script>
          <script src="app/leaderboard/leaderboard.js"></script>
          <script src="app/main/main.controller.js"></script>
          <script src="app/main/main.js"></script>
          <script src="app/placement/aptitude/tcs/aptitude.answer.controller.js"></script>
          <script src="app/placement/aptitude/tcs/aptitude.controller.js"></script>
          <script src="app/placement/placement.controller.js"></script>
          <script src="app/placement/placement.js"></script>
          <script src="app/placement/verbal/tcs/verbal.answer.controller.js"></script>
          <script src="app/placement/verbal/tcs/verbal.controller.js"></script>
          <script src="components/aptitude/tcs/tcs.aptitude.service.js"></script>
          <script src="components/auth/auth.service.js"></script>
          <script src="components/auth/user.service.js"></script>
          <script src="components/chart/chart-service.js"></script>
          <script src="components/chart/etest-chart-directive.js"></script>
          <script src="components/main/etest-content.js"></script>
          <script src="components/main/etest-header.js"></script>
          <script src="components/modal/modal.service.js"></script>
          <script src="components/mongoose-error/mongoose-error.directive.js"></script>
          <script src="components/navbar/navbar.controller.js"></script>
          <script src="components/socket/socket.service.js"></script>
          <script src="components/user/user-card.js"></script>
          <script src="components/util/utilityService.js"></script>
          <script src="components/verbal/tcs/tcs.verbal.service.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
    <!-- Auth0 Lock script and AngularJS module -->
    <script src="//cdn.auth0.com/js/lock-9.1.min.js"></script>
    <!-- angular-jwt and angular-storage -->
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>
    <!-- Load highchart lib at last -->
    <script src="http://code.highcharts.com/highcharts.js"></script>

</body>
</html>
