<ion-toolbar primary>

    <ion-title primary>Leaderboard</ion-title>

    <ion-buttons end (click)="close()">
        <button>
      <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>

</ion-toolbar>
<ion-toolbar>
    <p primary-light>Your best score (at least 50) is considered for leaderboard!</p>
</ion-toolbar>

<ion-content  class="tcs-verbal-leaderboard">
    <ion-list *ngIf="leaderboard">
        <ion-item *ngFor="let user of leaderboard">
            <ion-avatar item-left *ngIf="user.picture">
                <img src="{{user.picture.picture}}">
            </ion-avatar>
            <ion-avatar item-left *ngIf="!user.picture">
                <ion-icon name="person"></ion-icon>
            </ion-avatar>
            <h2 *ngIf="user.name">{{user.name.split('@')[0]}}</h2>
            <h2 *ngIf="!user.name && user.nickname">{{user.nickname}}</h2>
            <ion-badge item-right>{{user.score}}</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>