<md-dialog aria-label="End Test" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Are you sure, you want to end the test!</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="fa fa-times-circle" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <span layout="row" layout-xs="column" layout-align="space-around center" layout-padding>
      <span layout="column" layout-align="center center" class="success">
        <span>Attempted<md-icon md-font-set="fa fa-info-circle" class="success" style="height: auto;"></md-icon></span>
        <span>{{attempted.length}}</span>
      </span>
      <span layout="column" layout-align="center center" class="info">
        <span>Skipped<md-icon md-font-set="fa fa-check-circle" class="info" style="height: auto;"></md-icon></span>
        <span>{{test.length-attempted.length}}</span>
      </span>
      <span layout="column" layout-align="center center" class="error">
        <span>Marked for Review<md-icon md-font-set="fa fa-times-circle" class="error" style="height: auto;"></md-icon></span>
        <span>{{mfr.length}}</span>
      </span>
    </span>
    <md-divider></md-divider>
    <span ng-if="mfr.length" layout="row" layout-xs="column" layout-align="space-around center" class="error"
          layout-padding>
      <md-icon md-font-set="fa fa-warning" class="error" style="width:auto;">You have marked {{mfr.length}}
        {{mfr.length>1?'questions':'question'}} for review!
      </md-icon>
    </span>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel();" md-autofocus class="md-primary">
      Continue with the test!
    </md-button>
    <md-button ng-click="endTest();" style="margin-right:20px;" class="md-warn">
      Yes, Please end the test!
      <md-icon md-font-set="fa fa-send" class="md-primary"></md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
