.tcs-verbal-exam-result {
    p {
        white-space: initial;
        line-height: 30px;
        font-size: 16px;
        color:#387ef5;
    }
    h2 {
        white-space: initial;
        color:#387ef5;
    }
    h3 {
        white-space: initial;
        color:#69BB7B;
    }
    .highcharts-container{
        svg{
            text:last{
                display:none;
            }
        }
    }
}