<ion-menu [content]="content">

  <ion-toolbar menuClose primary-light class="app" style="min-height:140px;"
    (click)="home()">
    <img src="img/etest-logo.png" style="width:100px;height:100px;" />
    <!--<ion-title menuClose  (click)="home()">etest</ion-title>-->
    <ion-title>Take Verbal &amp; Aptitude Tests!</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-toolbar position="bottom" royal>
    <ion-buttons menuClose start *ngFor="let link of links">
      <button (click)="openPage(link)">
      {{link.title}}
      <ion-icon name="{{link.icon}}"></ion-icon>
    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>