<div layout="column" style="/*padding-bottom: 15px;*/" class="main">
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="z-index:1001;"
              ng-click="vm.toggleSidenav('left');">
    <md-toolbar class="md-tall ">
      <span flex></span>

      <div layout="column" class="md-toolbar-tools-bottom inset">
        <user-avatar ng-if="vm.isLoggedIn()"></user-avatar>
        <user-avatar ng-if="!vm.isLoggedIn()"></user-avatar>
        <span></span>

        <div ng-if="vm.isLoggedIn()">{{vm.user.name}}</div>
        <div ng-if="vm.isLoggedIn()">{{vm.user.email?vm.user.email:vm.user.location}}</div>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item ng-repeat="item in vm.mainMenu" md-ink-ripple='#03A9F4' style="cursor: pointer;">
        <a ui-sref="{{item.url}}" style="width: 100%;text-decoration: none;color: rgba(0, 0, 0, 0.87);">
          <!--<img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />-->
          <p>{{ item.title }}</p>
          <md-icon md-font-set="{{item.icon}}" ng-click="doSecondaryAction($event)" aria-label="Open Chat"
                   class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"
                   style="margin-top: 0px;"></md-icon>
        </a>
      </md-list-item>
      <md-divider></md-divider>
      <!--<md-subheader>Management</md-subheader>-->
      <md-list-item ng-repeat="item in vm.extraMenu" md-ink-ripple='#03A9F4' style="cursor: pointer;">
        <!--<img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar"/>-->

        <p>{{ item.title }}</p>
        <md-icon md-font-set="{{item.icon}}" ng-click="doSecondaryAction($event)" aria-label="Open Chat"
                 class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"
                 style="margin-top: 0px;"></md-icon>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="z-index:1001;"
              ng-click="vm.toggleSidenav('right');">
    <md-toolbar class="md-tall ">
      <span flex></span>

      <div layout="column" class="md-toolbar-tools-bottom inset">
        <user-avatar></user-avatar>
        <span></span>

        <div>{{vm.user.name}}</div>
        <div>{{vm.user.email?vm.user.email:vm.user.location}}</div>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item ng-click="vm.logout();">
        <md-icon md-font-set="fa fa-sign-out fa-2x "></md-icon>
        <p> Logout </p>
      </md-list-item>
      <md-list-item ng-repeat="item in vm.userMenu" ng-click="goToPerson(person.name, $event)">
        <md-icon md-font-set="{{item.icon}}"></md-icon>
        <p> {{item.title}} </p>
        <!--<md-item-content md-ink-ripple layout="row" layout-align="start center">-->
        <!--<div class="inset">-->
        <!--<md-icon md-font-set="{{item.icon}}"></md-icon>-->
        <!--&lt;!&ndash;<ng-md-icon icon="{{item.icon}}"></ng-md-icon>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="inset">{{item.title}}-->
        <!--</div>-->
        <!--</md-item-content>-->
        <!--<md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>-->
      </md-list-item>
      <md-divider></md-divider>
      <!--<md-subheader>Management</md-subheader>-->
      <md-item ng-repeat="item in admin">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
    </md-list>
  </md-sidenav>

  <md-toolbar etest-header style="position:fixed;z-index:1000;">
    <div class="md-toolbar-tools ">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleSidenav('left')">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fit=""
             preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
          <path d="M0 0h18v18h-18z" fill="none"></path>
          <path d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
        </svg>
      </md-button>
      <h2>
        <span ui-sref="main" style="cursor:pointer;">etest</span>
      </h2>
      <span flex=""></span>


      <md-list>
        <md-list-item aria-label="Open phone interactions menu" class="md-icon-button">
          <user-avatar ng-if="vm.isLoggedIn()" ng-click="vm.toggleSidenav('right')"
                       style="cursor: pointer;"></user-avatar>
          <img ng-if="!vm.isLoggedIn()" src="assets/images/avatar_2x.png" class="md-avatar"
               style="margin-right:0;cursor: pointer;"
               ui-sref="main.login"/>
        </md-list-item>
      </md-list>

    </div>
  </md-toolbar>

  <md-content etest-content style="margin-top:64px;min-height: calc(100vh - 128px)" ui-view>


    <md-whiteframe class="md-whiteframe-z1 hashtag" layout layout-align="center center">
      <md-content style="width:100%;background: inherit;">
        <h1 class="head-title">Preparing for Placement?</h1>
        <h5 class="tag-line">Engage, Analyze and Improve your skills!</h5>
        </svg>
        <md-list class="head-list">
          <md-list-item ng-click="">
            <md-icon md-font-set="fa fa-power-off  "></md-icon>
            <p> Take mock tests </p>
          </md-list-item>
          <md-list-item ng-click="">
            <md-icon md-font-set="fa fa-power-off  "></md-icon>
            <p> Analyze your performance </p>
          </md-list-item>
          <md-list-item ng-click="">
            <md-icon md-font-set="fa fa-power-off  "></md-icon>
            <p> Improve your skills </p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z3 md-accent second" layout layout-padding layout-align="center center">
      <md-content style="width:100%;background: inherit;" layout-sm="column" >

        <h1 class="head-title">etest FOR YOU</h1>
        <h5 class=tag-line>A platform where you can practice, analyze and improve your skills!</h5>

        <div layout="row" layout-sm="column" layout-xs="column" layout-margin layout-fill layout-padding>
          <div flex>
            <md-list>

              <md-list-item class="md-3-line">
                <md-icon md-font-set="fa fa-pencil-square-o fa-2x  " class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text">
                  <h3> Mock Tests </h3>
                  <h4> company specific </h4>

                  <p> Take mock tests that resembles exact pattern of the original tests.</p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line">
                <md-icon md-font-set="fa fa-pencil-square-o fa-2x  " class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text">
                  <h3> Performance Metrics </h3>
                  <h4> See where you stand </h4>

                  <p> Analyze your performance metrics ans see where you stand in the crowd. </p>
                </div>
              </md-list-item>
            </md-list>
          </div>
          <div flex>
            <md-list>

              <md-list-item class="md-3-line">
                <md-icon md-font-set="fa fa-cogs fa-2x  " class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text">
                  <h3> Learning Resources </h3>
                  <h4> Explore the relevant material </h4>

                  <p> We provide you all necessary resources to ace the placement. </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line">
                <md-icon md-font-set="fa fa-pencil-square-o fa-2x  " class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text">
                  <h3> Interview Experience</h3>
                  <h4>Placed students' experience </h4>

                  <p>Read what successful candidates have to say. </p>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </div>

      </md-content>
    </md-whiteframe>
<span ng-repeat="set in vm.blogs">
    <md-divider></md-divider>
    <h2 style="text-align: center;" ng-bind="set.heading"></h2>
<md-content layout-sm="column" layout-gt-md="row" layout-align="space-around center">

  <md-card ng-repeat="item in set.items">
    <img ng-src="{{item.image}}" class="md-card-image" alt="Blog Image">
    <md-card-content>
      <h2 class="md-title">{{item.title}}</h2>

      <p>{{item.content}}
      </p>
    </md-card-content>
    <md-divider></md-divider>
    <div class="md-actions" layout="row" layout-align="start start">
      <md-list style="padding-top: 0px;padding-bottom: 0px;">
        <md-list-item>
          <md-fab-speed-dial md-open="item.isOpen" md-direction="up"
                             class="md-scale share" style="margin-top: -128px;" ng-mouseenter="item.isOpen=true"
                             ng-mouseleave="item.isOpen=false">
            <md-fab-trigger>
              <md-button aria-label="menu" class="md-fab md-primary sharer">
                <md-icon md-font-set="fa fa-share fa-2x " style="vertical-align: text-bottom;"></md-icon>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>
              <md-button aria-label="facebook" class="md-fab md-raised md-mini  facebook">
                <a href="#" ng-click="share('facebook',item)">
                  <md-icon md-font-set="fa fa-facebook fa-2x  " class="facebook"></md-icon>
                </a>
              </md-button>
              <md-button aria-label="Google+" class="md-fab md-raised md-mini google">
                <a href="#" ng-click="share('google',item)">
                  <md-icon md-font-set="fa fa-google-plus fa-2x " class="google"></md-icon>
                </a>
              </md-button>
              <md-button aria-label="twitter" class="md-fab md-raised md-mini twitter">
                <a href="#" ng-click="share('twitter',item)">
                  <md-icon md-font-set="fa fa-twitter fa-2x " class="twitter"></md-icon>
                </a>
              </md-button>
            </md-fab-actions>
          </md-fab-speed-dial>
        </md-list-item>
      </md-list>
      <md-list style="padding-top: 0px;padding-bottom: 0px;">
        <md-list-item>

          <a ng-if="item.sref" ui-sref="{{item.sref}}">
            <label>Learn More
              <md-icon md-font-set="fa fa-external-link " style="height: inherit;"></md-icon>
            </label></a>
          <a ng-if="!item.sref" href="{{item.url}}"><label>Learn More
            <md-icon md-font-set="fa fa-external-link " style="height: inherit;"></md-icon>
          </label></a>
        </md-list-item>
      </md-list>
    </div>
  </md-card>
</md-content>
  </span>
    <md-whiteframe class="md-whiteframe-z5 md-accent third" layout layout-padding layout-align="center center">
      <md-content style="width:100%;background: inherit;" layout-margin layout-fill layout-padding layout-sm="column"
                  layout-gt-sm="row">

        <div flex>
          <h4 style="padding-left:16px;color:#fff;">ABOUT</h4>
          <md-list class="head-list" style="    margin-top: -16px;">
            <md-list-item ng-click="">
              <md-icon md-font-set="fa fa-info-circle  "></md-icon>
              <p> About Us </p>
            </md-list-item>
            <md-list-item ng-click="vm.open('http://www.facebook.com/vikashvverma');">
              <md-icon md-font-set="fa fa-envelope "></md-icon>
              <p> Contact Us</p>
            </md-list-item>
            <md-list-item ng-click="vm.open('http://www.programminggeek.in');">
              <md-icon md-font-set="fa fa-external-link" style="margin-left:0"></md-icon>
              <p> Blog </p>
            </md-list-item>
          </md-list>
        </div>
        <div flex>
          <h4 style="padding-left:16px;color:#fff;">CONTACT</h4>
          <md-list class="head-list" style="    margin-top: -16px;">
            <md-list-item ng-click="">
              <md-icon md-font-set="fa fa-phone "></md-icon>
              <p>(+91) 7411819945 </p>
            </md-list-item>
            <md-list-item ng-click="">
              <md-icon md-font-set="fa fa-envelope  "></md-icon>
              <p> vikash@programminggeek.in </p>
            </md-list-item>
            <md-list-item ng-click="">
              <md-icon md-font-set="fa fa-home  "></md-icon>
              <p> Bengaluru, IN</p>
            </md-list-item>
          </md-list>
        </div>
        <div flex>
          <h4 style="/*padding-left:16px;*/color:#fff;">FOLLOW US ON</h4>
          <a href="https://www.facebook.com/thiswillgoaway" target="_blank"> <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #428bca !important;"></i>
  <i class="fa fa-facebook fa-stack-1x  fa-inverse" style="padding-top: 2px;"></i>
</span></a>
          <a href="https://www.google.com/+ProgrammingGeekIndia" target="_blank">  <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x fa-inverse" style="    color: #C63D2D !important;"></i>
  <i class="fa fa-google-plus fa-stack-1x fa-inverse " style="padding-top: 2px;"></i>
</span></a>
          <!--<md-list class="head-list" style="    margin-top: -16px;">-->
          <!--<md-list-item ng-click="">-->
          <!--<md-icon md-font-set="fa fa-power-off  "></md-icon>-->
          <!--<p> Take mock tests </p>-->
          <!--</md-list-item>-->
          <!--<md-list-item ng-click="">-->
          <!--<md-icon md-font-set="fa fa-power-off  "></md-icon>-->
          <!--<p> Analyze your performance </p>-->
          <!--</md-list-item>-->
          <!--<md-list-item ng-click="">-->
          <!--<md-icon md-font-set="fa fa-power-off  "></md-icon>-->
          <!--<p> Improve your skills </p>-->
          <!--</md-list-item>-->
          <!--</md-list>-->
        </div>
      </md-content>
    </md-whiteframe>
  </md-content>
  <comment-box></comment-box>

  <!--<div id="commentbox" layout="column" layout-align="center center" ng-show="commentbox.show">-->

  <!--<div class="fb-comments tcs-card" data-href="{{commentbox.url}}" data-num-posts="5" data-colorscheme="light"-->
  <!--data-order-by="social" data-mobile="1" data-width="100%" data-version="v2.3" style="width:98%;"></div>-->
  <!--<script src="https://apis.google.com/js/plusone.js">-->
  <!--</script>-->
  <!--<div class="g-comments"-->
  <!--data-href="{{commentbox.url}}"-->
  <!--data-width="{{commentbox.width}}"-->
  <!--data-first_party_property="BLOGGER"-->
  <!--data-height="400"-->
  <!--data-view_type="FILTERED_POSTMOD" style="min-height: 300px;">-->
  <!--</div>-->

  <!--</div>-->

  <div style="bottom: 0;right:0;position: fixed;z-index: 1002;" ng-init="isOpen=false">

    <md-fab-speed-dial md-open="isOpen" md-direction="up" class="md-scale md-fab-bottom-right"
                       ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-icon md-font-set="fa fa-bars fa-2x " style="vertical-align: text-bottom;"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="facebook" class="md-fab md-raised md-mini  facebook">
          <a href="https://www.facebook.com/vikashvverma" target="_blank">
            <md-icon md-font-set="fa fa-facebook fa-2x  " class="facebook"></md-icon>
          </a>
        </md-button>
        <md-button aria-label="Google+" class="md-fab md-raised md-mini google">
          <a href="https://www.google.com/+VikashVerma" target="_blank">
            <md-icon md-font-set="fa fa-google-plus fa-2x " class="google"></md-icon>
          </a>
        </md-button>
        <md-button aria-label="GitHub" class="md-fab md-raised md-mini github">
          <a href="https://www.github.com/vikashvverma" target="_blank">
            <md-icon md-font-set="fa fa-github fa-2x " class="github"></md-icon>
          </a>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <md-toolbar style="background-color: #202020;">

    <span style="text-align: center;font-size:14px;line-height: 64px;">&copy; <a href="http://www.programminggeek.in"
                                                                                 target="_blank"
                                                                                 style="color:#428bca;text-decoration: none;">
      Programming Geek</a>, All Rights Reserved</span>
  </md-toolbar>
</div>
