<div role="dialog" aria-label="Like us on Facebook" layout="column" layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Like us on Facebook</h2>
    </div>
  </md-toolbar>
  <div class="avatar-dialog-content">
    <div class="fb-page"
         data-href="https://www.facebook.com/thiswillgoaway"
         data-width="500"
         data-hide-cover="false"
         data-show-facepile="true">
    </div>
  </div>
  <div layout="row" class="avatar-dialog-button">
    <md-button md-autofocus flex class="md-primary" ng-click="ctrl.closeDialog()">
      Close
    </md-button>
  </div>
</div>
