<span ng-include=" 'components/loader/loader.html' " class="center-loader" layout
      layout-align="center center" ng-if="vm.loading==true"></span>
<md-whiteframe class="md-whiteframe-5dp" flex-sm flex-gt-sm flex-gt-md layout layout-padding
               layout-margin layout-align="start start" ng-if="vm.questions.length">
  <md-content>
    <div layout="row" layout-xs="column" layout-align="space-between center" style="font-size:22px;padding:10px;">
      <div>
        <md-button class="success" ng-if="vm.page!=1" ng-click="vm.get(vm.page-1);"
                   style="cursor:pointer;">
          <i class="fa fa-hand-o-left md-primary"></i>
          Previous
        </md-button>
      </div>
      <div>
        <label class="md-warn success">
          Showing Page <span class="text-primary" style="font-size:22px;"><strong>
          {{vm.page}} </strong></span>
          of 200
        </label>
        </label>
      </div>
      <div>
        <md-button class="md-accent" ng-if="vm.page!=200" ng-click="vm.get(vm.page+1);"
                   style="cursor:pointer;">
          Next <i class="fa fa-hand-o-right"></i>
        </md-button>
      </div>
    </div>
    <md-divider></md-divider>
    <md-list ng-cloak>
      <md-list-item data-ng-repeat="question in vm.questions track by $index" class="noright">
        <img ng-src="{{vm.logo}}" class="md-avatar" alt="TCS Aptitude Question"/>
        <div class="md-list-item-text" layout="column" style="line-height: 1.5;color:#06498c;font-weight: 500;">
          <h4>Asked in TCS</h4>
          <p ng-bind-html="question.question"></p>

          <!--<md-icon class="md-secondary" ng-click="warn($event, vm.question.id)" aria-label="report"-->
          <!--md-font-set="fa fa-warning fa-2x" style="margin-right:50px;"></md-icon>-->
          <md-icon class="md-secondary" ng-click="vm.navigate($event, $index, vm.question.id)" aria-label="solution"
                   md-font-set="fa fa-send fa-2x" style="margin-right:50px;"></md-icon>

        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</md-whiteframe>
