.home{
    .info{
        height: 56px;
        top: 2px;
        }
        p{
            white-space: initial;
            line-height: 30px;
            font-size: 16px;
            color:#387ef5;
        }
}